@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #123;
    color: #fff8;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
    color: #fff;
}
a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
ul {
    list-style: none;
}
.container {
    width: 80vw;
    margin: 0 auto;
}

/*      Header CSS Start
-----------------------------------------------*/
.header-area {
    background-color: #fff1;
    padding: 16px;
}
.header-area .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left,
.header-right {
    display: flex;
    gap: 30px;
}
.btn-group-small {
    display: flex;
    gap: 16px;
}
.btn-group-small .btn,
.btn,
input {
    background-color: transparent;
    color: #ffffff74;
    border: 1px solid #ffffff40;
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.btn-group-small .btn:hover,
.btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.btn-group-small .btn i {
    margin-right: 8px;
}
.searchBox input {
    cursor: default;
    width: 300px;
}
.btn {
    background-color: #fff;
    color: #000;
}

/*      Body Area Start
-----------------------------------------------*/
.content-area {
    padding: 40px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr:first-child {
    background-color: #fff1;
}
th,
td {
    font-weight: 300;
    text-align: left;
    padding: 8px 16px;
    border: 1px solid #fff1;
}
td .btn {
    width: 100%;
    border: none !important;
}
td .btn i {
    margin-right: 0 !important;
}
#see {
    background-color: rgba(100, 148, 237, 0.205);
    color: cornflowerblue;
}
#del {
    background-color: rgba(255, 99, 71, 0.205);
    color: tomato;
}

/*      Modal Area Start
-----------------------------------------------*/
.modal {
    width: 50vw;
    min-height: 300px;
    background-color: #234;
    box-shadow: 0 0 300px 0 #0005;
    display: flex;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.modal > i {
    font-size: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}
.modal-left,
.modal-right {
    padding: 40px;
}
.modal-left {
    flex-basis: 30%;
    border-right: 2px solid #123;
    text-align: center;
}
.modal-right {
    flex-basis: 70%;
    border-left: 1px solid #345;
}
.img-box {
    position: relative;
}
.img-box img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}
.img-box i {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #1239;
    color: #fff;
    backdrop-filter: blur(10px);
    width: 70px;
    height: 70px;
    cursor: pointer;
    line-height: 70px;
    font-size: 24px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}
.img-box input {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    opacity: 0;
}
.modal-right .input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.modal-right .input-box label {
    flex-basis: 30%;
}
.modal-right .input-box input {
    flex-basis: 70%;
}
.modal-btn {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}
.modal-btn .btn {
    padding: 13px 32px;
    font-weight: 600;
    width: 100%;
}
.modal-btn .btn:disabled {
    background-color: #345;
    color: #fff8;
    border: none;
    cursor: default;
}
